// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2021-2022 Qualcomm Innovation Center, Inc. All rights reserved.
/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
	model = "Qualcomm DC-SCM V1 BMC";
	compatible = "qcom,dc-scm-v1-bmc", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		spi1 = &spi1;
		spi2 = &spi2;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdrammc {
	clock-frequency = <400000000>;
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio4_default>;
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy3: ethernet-phy@1 {
		reg = <1>;
	};
};

&mac2 {
	status = "okay";
	reg = <0x1e670000 0x180>, <0x1e650018 0x4>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy3>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii3_default>;
};

&fmc {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;

	flash@0 {
		status = "okay";
		spi-max-frequency = <133000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@1 {
		status = "okay";
		spi-max-frequency = <133000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&spi1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default &pinctrl_spi1abr_default
			&pinctrl_spi1cs1_default &pinctrl_spi1wp_default
			&pinctrl_spi1wp_default &pinctrl_spi1quad_default>;

	flash@0 {
		status = "okay";
		spi-max-frequency = <133000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "okay";
};

&i2c15 {
	status = "okay";
};

&scu {
	mac0-clk-delay = <0x1d 0x1c
			  0x10 0x17
			  0x10 0x17>;
	mac1-clk-delay = <0x1d 0x10
			  0x10 0x10
			  0x10 0x10>;
	mac2-clk-delay = <0x0a 0x04
			  0x08 0x04
			  0x08 0x04>;
	mac3-clk-delay = <0x0a 0x04
			  0x08 0x04
			  0x08 0x04>;
};

&hace {
	u-boot,dm-pre-reloc;
	status = "okay";
};
